/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Theme Colors
   ========================================================================== */

/* reference colors */
/* http://colormind.io/ */

.white-text {
    color: white;
}

.blue-hi-text {
    color: #6de9e1;
}

.blue-dark-text {
    color: #0384B0;
}

.blue-flat-text {
    color: #98d9d5;
}

.teal-lite-bg {
    color: #ACDCD9;
}

.white-flat-bg {
    color: #fbfbfb;
}

.blue-hi-bg {
    background-color: : #6de9e1;
}

.blue-dark-bg {
    background-color: : #0384B0;
}

.blue-flat-bg {
    background-color: : #98d9d5;
}

.teal-lite-bg {
    background-color: : #ACDCD9;
}

.white-flat-bg {
    background-color: : #fbfbfb;
}



/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   custom styles
   ========================================================================== */

/* general */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfb;
    background-image: url("../img/plus-bg.png");
    font-size: 16px;
    color: #272727;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lekton', sans-serif;
    font-variant: all-small-caps;
    font-weight: 600;
    color: #7cccc7;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
    margin-bottom: 0em;
}

h3 {
    font-size: 2em;
    margin-bottom: 0em;
}

p {
    padding-right: 1em;
}

a {
    text-decoration: none;
    color: #0185b0;
    border-bottom: 2px dotted #e5e5e5;
}

a:hover {
    color: #e5e5e5;
    border-bottom: 2px dotted #e5e5e5;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: flex-start;
}

.flex-item {
    flex: 0 0 auto;
    margin: 2em;
}

.full-img {
    width: 100%;
}

.half-img {
    width: 50%;
    margin: 0 auto;
}

.quarter-img {
    width: 25%;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.pure-g [class*=pure-u] {
    font-family: 'Roboto', sans-serif;
}

.pure-g {
    letter-spacing: 0em;
}

/* nav */
nav {
    position: relative;
    top: 0;
    width: calc(100% - 2em);
    font-size: 1.2em;
    padding: 1em;
    color: white;
    background-color: #0385b0;
}

.nav-logo {
    color: white;
    left: 0;
    display: inline-block;
    height: 1.5em;
    border-bottom: none;
}

.nav-logo:hover {
    color: #bacad1;
    border-bottom: none;
}

.nav-logo-img {
    height: 100%;
    margin-top: -0.5em;
}

nav ul {
    list-style: none;
    position: absolute;
    font-variant: petite-caps;
    right: 1em;
    top: 0em;
    padding-left: 0;
    transition-property: height;
    transition-duration: 0.8s;
}

nav ul li {
    display: inline-block;
    margin-left: 1em;
}

nav ul li a {
    color: white;
    border-bottom: none;
}

nav ul li a:hover {
    color: #bacad1;
    border-bottom: none;

}

.menu-btn {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 1em;
    top: 1rem;
    font-size: 1.2em;
}

.show-menu {
    /* alter if lots of menu items */
    height: 6em;
}


/* header */
#particles-js {
    width: 100%;
    padding-top: 1em;
    height: 18em;
    text-align: center;
    background: #0385b0;
    background: linear-gradient(to bottom, #0385b0 0%, #0385b0 20%, #7cccc7 70%, #fbfbfb 100%);
}

.header-logo {
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
}

.header-title {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 5em;
    color: white;
}

.header-subtitle {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 2.6em;
    color: white;
}

/* sections */
section {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 4em;
    padding: 0 2em;
}

.section-title {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    border-top: 2px solid #f2f2f2;
}

.section-desc {
    margin-top: 2em;
    font-size: 1.3em;
    color: #0285b0;
    line-height: 1.5em;
}

.card-img {
    width: 140px;

}

.card-text {
    margin-top: 1em;
    width: 140px;
    text-align: center;
}

.action-btn {
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 0.5em 0.5em;
    border: 2px solid #0185b0;
    border-radius: 4px;
    color: #0185b0;
}

.action-btn:hover {
    color: #0185b0;
    border: 2px solid #e5e5e5;
}

.center-btn {
    width: 50%;
    margin: 1em 25%;
    text-align: center;
}


/* footer */
footer {
    background-color: #0384B0;
    min-height: 1em;
    width: 100%;
    margin-top: 5em;
    padding: 1em 0;
    text-align: center;
}

.footer-item {
    display: inline-block;
    margin: 0 1em;
    color: white;
}

.footer-item a {
    color: white;
    border-bottom: none;
}

.footer-item a:hover {
    color: #bacad1;
}

/* smaller sizse */
@media screen and (max-width: 35.5em) {

    .menu-btn {
        z-index: 999;
        display: inline-block;
    }

    nav ul {
        position: relative;
        right: 0;
        height: 0;
        overflow: hidden;

    }

    nav ul li {
        display: block;
        text-align: right;
        padding-bottom: 0.5em;
    }

    #particles-js {
        height: 16em;
    }

    .header-title {
        font-size: 4em;
        color: white;
    }

    .header-subtitle {
        font-size: 2em;
        color: white;
        margin-top: 3.2em;
    }

    .section-title {
        text-align: left;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2.5em;
        margin-bottom: 0em;
    }

    h3 {
        font-size: 2em;
        margin-bottom: 0em;
    }

    .mid-image {
        width: 100%;
    }


}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}





/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
