<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>unetr</title>
    <meta http-equiv="refresh" content="0;URL='https://github.com/Project-MONAI/research-contributions/tree/main/UNETR'" />
  </head>
  <body>
  <p>
    Redirecting to the project codebase:
  </p>
  <p>
    <a href="https://github.com/Project-MONAI/research-contributions/tree/main/UNETR">
      https://github.com/Project-MONAI/research-contributions/tree/main/UNETR
    </a>
  </p>
  </body>
</html>
